NAME=
DESCRIPTION=
SUMMARY=
VERSION=

FRONTEND_HOST= # http://localhost:10000
BACKEND_CORS_ORIGINS= # http://localhost,http://localhost:10000,https://localhost,https://localhost:10000

MONGO_USERNAME=
MONGO_PASSWORD=
MONGO_HOSTNAME=
MONGO_DATABASE=
MONGO_MAX_POOL_SIZE=
MONGO_MIN_POOL_SIZE=
MONGO_CONNECT_TIMEOUT_MS=
MONGO_SERVER_SELECTION_TIMEOUT_MS=
MONGO_RETRY_WRITES=

REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=
REDIS_USERNAME=
REDIS_DB=
CACHE_EXPIRE_MINUTES=
VERIFICATION_CODE_EXPIRE=

RATE_LIMIT_ADMIN=
RATE_LIMIT_STUDENT=
RATE_LIMIT_TEACHER=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

MAILERSEND_API_KEY=
MAILERSEND_SMTP_EMAIL=
MAILERSEND_SMTP_NAME=

JWT_ALGORITHM=
JWT_EXPIRE_MINUTES= 